.first_container{
  margin: 0;
  text-align: center;
  padding-top: 100px;
  position: relative;
  background-color: #EAF6F6;
}
.cloud2{
  position: absolute;


}
.cloud1{
  position: absolute;
  left: 800px;
  top: 100px;
}
h1{
  font-family:'Dancing Script', cursive;
  color: #66BFBF;
  line-height: 2;
  font-size: 500%

}

h2{
  font-family: 'Lobster', cursive;
  color: #66BFBF;
  font-weight: normal;
  font-size: 30px;
}
.contact-me{
  text-align: center;

}
.footer-link{
  text-decoration: none;

}
.btn:hover{
  color: white;
  background-color: #009EFF;
}
.footer-link:hover{
  color: green;
}
.footer-link{
  margin: 10px;
}
.middle-container{
  text-align: center;
}
.bottom-container{
  text-align: center;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
}
.web-img{
  width:25%;
  float: left;
  margin-right: 30px;
}
.web{
  text-align: left;
  font-style: italic;
  font-size: 15px;
}
h3{
  text-align: left;
  color: #11999E;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
.nothing-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
hr{
  width: 10%;
  border: 10px dotted;
  border-style: dotted none none none;
   color: #EAF6F6;
}
.btn{
  margin-top: 100px;
  text-decoration: none;
  border: 2px;
  border-radius: 8px;
  padding: 8px;
  background-color: #66BFBF;

}
.bottom-container{
  background-color: #66BFBF;
  padding: 30px;
}
.copy{
  color: #EAF6F6;
}
.contact-me{
  padding: 30px;
}
.ex{
  color:#11999E;
  font-style:italic;
  text-align: center;
  font-family:  'Lobster', cursive;
}
